.blog-container img{
    width: 845px;
    height: 450px;
}
.blog-container{
    width: 845px;
height: 670px;
border: 1px solid rgb(84, 82, 82);
}
.author-section{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.author{
    display: flex;
}
.date{
    margin-left: 5px;
}
.writter img{
    width: 40px;
    height: 40px;
   clip-path: circle();
}
.mark-read{
    margin-top: 20px;
    text-decoration: underline;
    color: #6047EC;
}